<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8">
<title>Post new Job </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
<h1>Post a Job Information here</h1>
<form  method="post">  
   <table>
     <tr>  
            <td><label for="jobId">Job Id</label></td>  
            <td><input type="text" name="jobId"></input></td>  
        </tr>  
        <tr>  
            <td><label for="jobCode">Job Code</label></td>  
            <td><input type="text" name="jobCode"></input></td>  
        </tr>
        <tr>  
            <td><label for="jobName">Job Name</label></td>  
            <td><input type="text" name="jobName"></input></td>  
        </tr>  
        <tr>  
            <td><label for="jobDesc">Job Desc</label></td>  
            <td><input type="text" name="jobDesc"></input></td>  
        </tr>  
        <tr>  
            <td><label for="numVacancy">No of Vacancy</label></td>  
            <td><input type="text" name="numVacancy"></input></td>  
        </tr>  
         <tr>  
            <td><label for="pubDate">Publich Date</label></td>  
            <td><input type="date" name="pubDate"></input></td>  
        </tr> 
        <tr>  
            <td></td>  
            <td><input type="submit" value="Add a Job Info"></input></td>  
        </tr>  
    </table>  
</form>  
</body>
</html>






