<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/main_layout}">
<head lang="en">
<meta charset="UTF-8">
<title>Post new Job </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" >
//ref: see aboutus.html
//Apply JQuery- when page load to send request to REST API  POST /jobs
$(document).ready(function () {	
	$('#feedback').hide();
    $("#form-add").submit(function (event) {
        //stop submit the form, we will post it manually.
        event.preventDefault();
        fire_ajax_submit();
    });
});
function fire_ajax_submit() {
    var jobData = {}
    jobData["jobId"] = $("#jobId").val();
    jobData["jobCode"] = $("#jobCode").val();
    jobData["jobName"] = $("#jobName").val();
    jobData["jobDesc"] = $("#jobDesc").val();
    jobData["numVacancy"] = $("#numVacancy").val();
    jobData["pubDate"] = $("#pubDate").val();  
    $("#btn-add").prop("disabled", true);
    $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/jobs",
        data: JSON.stringify(jobData),
        dataType: 'json',
        cache: false,
        timeout: 600000,
        success: function (data) {
        	console.log("SUCCESS : ", data);
            var json = "Succeed to Add a job " + data.jobId + ".";
            $('#feedback').html(json);
            $('#feedback').show();            
            $("#btn-add").prop("disabled", false);
        },
        error: function (e) {
        	console.log("ERROR : ", e);
            var json = "Failed to Add a job  : "
                + e.responseText + "";
            $('#feedback').html(json);
            $('#feedback').show();            
            $("#btn-add").prop("disabled", false);
        }        
    });

}

</script>

</head>
<body>

<div layout:fragment="content" class="container">
<h1>Post a Job Information here</h1>
 
<form id="form-add" method="post" th:action="@{/jobs_add.html}" th:object="${job}">  
<div id="feedback" class="alert alert-danger pre_line"></div>
   <table class="table table-hover table-striped">
     <tr>  
            <td><label for="jobId">Job Id</label></td>  
            <td> <input type="number"  th:field="*{jobId}" min="1" /></td>  
        </tr>  
        <tr>  
            <td><label for="jobCode">Job Code</label></td>  
            <td><input type="text" th:field="*{jobCode}" /></td>  
        </tr>
        <tr>  
            <td><label for="jobName">Job Name</label></td>  
            <td><input type="text" th:field="*{jobName}" /></td>  
        </tr>  
        <tr>  
            <td><label for="jobDesc">Job Desc</label></td>  
            <td><input type="text" th:field="*{jobDesc}" /></td>  
        </tr>  
        <tr>  
            <td><label for="numVacancy">No of Vacancy</label></td>  
            <td><input type="number" th:field="*{numVacancy}" min="1" max="999" placeholder="1" /></td>  
        </tr>  
        <tr>  
            <td><label for="pubDate">Publich Date</label></td>  
            <td><input type="date" th:field="*{pubDate}" /></td>  
        </tr> 
        <tr>  
            <td></td>  
            <td><input type="submit" id="btn-add" value="Add a Job Info" class="btn btn-success"></input></td>  
        </tr>  
    </table>  
</form>  
</div>

</body>
</html>






