
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Recruitment Agency App</title>
</head>
<body>
	<div layout:fragment="content" class="container">


		<h1>Recruitment Agency App</h1>
		<p>This App is 2020Winter COMP303 Liping Wu 300958061 Assignment3.
			This Assignment3 is a quick exercise of to illustrate how the
			default, static navbar and fixed to top navbar work. It includes the
			responsive CSS and HTML, so it also adapts to your viewport and
			device.</p>
		<p>
		<ul>
			<li>https://www.thymeleaf.org/doc/articles/layouts.html</li>
			<li>https://www.roytuts.com/spring-boot-jquery-ajax-crud-example/</li>
			<li>https://mkyong.com/spring-boot/spring-boot-ajax-example/</li>
			<li>https://www.tutorialrepublic.com/jquery-tutorial/jquery-show-and-hide-effects.php</li>
			<li>https://medium.com/@grokwich/spring-boot-thymeleaf-html-form-handling-762ef0d51327</li>
			<li>https://dzone.com/articles/spring-boot-2-restful-api-documentation-with-swagg</li>
			<li>https://github.com/RameshMF/spring-boot-tutorial/tree/master/springboot2-jpa-swagger2</li>		
			
		</ul>
		</p>
	</div>
</body>
</html>