
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  layout:decorate="~{fragments/main_layout}">
<head>
    <title>Recruitment Agency App </title>
</head>
<body>
<div layout:fragment="content" class="container">

    <div class="jumbotron">
        <h1>Recruitment Agency App</h1>
        <p> This App is 2020Winter COMP303 Liping Wu 300958061 Assignment3. This Assignment3 is a quick exercise of to illustrate how the default, static navbar and fixed to top navbar work.
            It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>
            
        </p>
    </div>
</div>
</body>
</html>